<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>978997080941-b0p3gv42ronue71igd32rfvodo70f07b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.978997080941-b0p3gv42ronue71igd32rfvodo70f07b</string>
	<key>API_KEY</key>
	<string>AIzaSyBF7eBpuVtuxSkiLTZQdVGlSCeAgzt2DYc</string>
	<key>GCM_SENDER_ID</key>
	<string>978997080941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ras.baseapp</string>
	<key>PROJECT_ID</key>
	<string>baseapp-2f3bd</string>
	<key>STORAGE_BUCKET</key>
	<string>baseapp-2f3bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978997080941:ios:7bda7b35add456e9fc2064</string>
	<key>DATABASE_URL</key>
	<string>https://baseapp-2f3bd.firebaseio.com</string>
</dict>
</plist>