<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>83AA8FB3238381130061782A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83AA8FC7238381150061782A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83AA8FD2238381150061782A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
